* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%; 
}

h1 {
    font-size: 3.2rem;
    padding: 0 0 5px 0;
}

.container { 
    border: .1rem solid black;
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

.image {
    padding-top: 20px;
    height:  68%;
    width: 100%;
    border: .1rem solid black;
}

.info { 
    height:  32%;
    width: 100%;
    border: .1rem solid black;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 0px;
}

.stats {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8px 15px;
    font-size: 1.7rem;
}


button {
    padding: 10px 10px;
}

.factory {
    text-align: center;
    padding: 10px 0 0 0;
}